@media screen and (max-width: 1200px) {
  .header {
    padding-bottom: 30px;
  }

  .header__img-mouse {
    display: none;
  }

  .header__offer-title {
    font-size: 30px;
  }

  .header__offer-subtitle {
    font-size: 20px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .price__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .price__boxes {
    margin: 0 auto 40px;
  }

  .price__results {
    max-width: 654px;
    width: 100%;
    margin: 0 auto;
  }

  .price__results-items {
    display: flex;
    justify-content: space-between;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__item {
    padding: 15px;
  }

  .blog__item img {
    max-width: 555px;
    width: 100%;
  }

  .blog__item-title {
    font-size: 14px;
    line-height: 18px;
  }

  .contacts__form {
    margin-bottom: 30px;
  }

  .contacts__items {
    flex-direction: column;
    align-items: center;
  }

  .contacts__list {
    max-width: 750px;
    padding: 0;
    width: 100%;
  }

  .contacts__list-item + .contacts__list-item {
    margin-top: 0;
  }

  .contacts__list-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__list-item {
    width: calc(100% / 3);
    margin-bottom: 20px;
  }

  .contacts__text {
    text-align: center;
  }
}
@media screen and (max-width: 880px) {
  .def__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .services {
    padding: 0;
  }

  .services__item {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  .services__item-img {
    text-align: center;

    img {
      max-width: 555px;
      width: 100%;
      display: inline-block;
    }
  }

  .services__item-box {
    margin-top: 20px;
    order: 5;
    max-width: 555px;
    width: 100%;
    padding: 0;
  }

  .services__item_left .services__item-box {
    padding: 0;
  }

  .price__results-value {
    font-size: 23px;
  }

  .portfolio {
    padding-bottom: 20px;
  }

  .portfolio__categories {
    font-size: 10px;
  }

  .portfolio__category {
    padding: 15px;
  }

  .process__item-title {
    font-size: 20px;
    line-height: 22px;
  }

  .team__items {
    justify-content: center;
  }

  .team__item img {
    max-width: 180px;
    width: 100%;
  }

  .team__item-name {
    font-size: 20px;
    line-height: 22px;
  }

  .team__item-text {
    font-size: 14px;
    line-height: 16px;
  }

  .contacts__headline {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer__nav {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .footer__contacts-icons {
    text-align: center;
  }

  .footer__bottom {
    margin-top: 20px;
  }
}
@media screen and (max-width: 780px) {
  .portfolio__item {
    max-width: 220px;
    width: 100%;
  }

  .team__quote {
    padding: 40px 20px 20px;
  }

  .team__quote-title {
    font-size: 20px;
    line-height: 24px;
  }

  .team__quote-text {
    font-size: 16px;
    line-height: 22px;
  }

  .team__quote-subtitle {
    font-size: 12px;

    span {
      font-size: 14px;
    }
  }

  .contacts {
    padding-bottom: 30px;
  }

  .contacts__form-inputs {
    flex-direction: column;
    width: 100%;

    input {
      max-width: 100%;
      width: 100%;
    }

    input + input {
      margin-top: 10px;
    }
  }

  .contacts__text {
    margin-top: 10px;
  }

  .contacts__items .contacts__list-item {
    width: 40%;
    margin: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  .def__subtitle {
    font-size: 20px;
    line-height: 22px;
  }

  .price__box-title {
    font-size: 16px;
  }

  .price__box-btns-text {
    font-size: 14px;
  }

  .portfolio__categories-wrapper {
    border: none;
  }

  .portfolio__category {
    border: 1px solid $light-blue;
    border-radius: 5px;
  }

  .portfolio__categories {
    flex-wrap: wrap;
  }

  .team__item {
    max-width: 120px;
    width: 100%;
  }

  .contacts__items .contacts__list-item {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .def__title {
    padding-top: 30px;
    line-height: 25px;
  }

  .header {
    padding: 0 0 10px;
  }

  .header__offer-text {
    margin-bottom: 20px;
  }

  .header__navigation {
    align-items: center;
  }

  .header__contacts::before {
    display: none;
  }

  .header__contacts-text {
    display: none;
  }

  .header__phone {
    font-size: 18px;
  }

  .header__offer-subtitle {
    margin-bottom: 16px;
  }

  .header__form-inputs {
    flex-direction: column;
    align-items: center;

    input {
      width: auto;
    }

    input + input {
      margin-top: 20px;
    }
  }

  .header__btn-inner {
    position: static;
  }

  .header__form-inputs::after,
  .header__form-inputs::before {
    display: none;
  }

  .header__form {
    border: none;
  }

  .header__btn-line {
    display: none;
  }

  .price__box-runner {
    display: flex;
  }

  .price__box-runner::before {
    display: none;
  }

  .price__box-runner-text {
    flex-direction: column;
  }

  .price__box-runner-text .price__box-btns-text {
    text-align: right;
    font-size: 23px;
    margin-bottom: 6px;
    width: 100%;
  }

  .price__box-runner-btns {
    padding-left: 14px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .price__box-btn-inner {
    margin-bottom: 4px;
  }

  .advantages__item {
    max-width: 180px;
  }

  .advantages__item-text::before {
    top: -11px;
  }

  .advantages__item-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }

  .process {
    padding-bottom: 30px;
  }

  .process__item-title {
    font-size: 16px;
  }

  .team {
    padding-bottom: 20px;
  }

  .team__quote {
    margin-top: 10px;
  }

  .team__quote::after,
  .team__quote::before {
    height: 27px;
    width: 37px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .blog__items {
    flex-direction: column;
  }

  .footer__nav-item {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .portfolio__item {
    max-width: 380px;
    width: 100%;
  }

  .slider__items {
    margin-bottom: 0;
  }

  .slider__item img {
    width: 80px;
  }

  .footer {
    font-size: 12px;
  }

  .footer__logo img {
    width: 100px;
  }

  .footer__copyright {
    padding-right: 20px;
  }
}
@media screen and (max-width: 490px) {
  .price__results-items {
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  .header__contacts {
    display: none;
  }

  .header__items {
    justify-content: flex-end;
  }

  .header__navigation {
    justify-content: flex-end;
  }

  .advantages__item {
    margin: 30px;
  }

  .team__item {
    max-width: 430px;
    width: 100%;
  }
}
