
@media screen and (max-width: 1200px) {
  .header {
    padding-bottom: 30px;
  }

  .header__img-mouse {
    display: none;
  }

  .header__offer-title {
    font-size: 30px;
  }

  .header__offer-subtitle {
    font-size: 20px;
  }

  .header__subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 880px) {
  .def__title {
    font-size: 26px  ;
  }

  .services {
    padding: 0;
  }

  .services__item {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  .services__item-img {
    text-align: center;
    img {
      max-width: 555px;
      width: 100%;
      display: inline-block;
    }
  }

  .services__item-box {
    margin-top: 20px;
    order: 5;
    max-width: 555px;
    width: 100%;
    padding: 0;
  }

  .services__item_left
  .services__item-box  {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .def__title {
    padding-top: 3  0px;
  }

  .header {
    padding: 0 0 10px 0;
  }
  .header__offer-text {
    margin-bottom: 20px;
  }
  .header__navigation {
    align-items: center;
  }

  .header__contacts::before {
    display: none;
  }

  .header__contacts-text {
    display: none;
  }

  .header__phone {
    font-size: 18px;
  }

  .header__offer-subtitle {
    margin-bottom: 16px;
  }

  .header__form-inputs {
    flex-direction: column;
    align-items: center;

    input {
      width: auto;
    }

    input + input {
      margin-top: 20px;
    }
  }

  .header__btn-inner {
    position: static;
  }

  .header__form-inputs::before,
  .header__form-inputs::after {
    display: none;
  }

  .header__form {
    border: none;
  }

  .header__btn-line {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .header__contacts {
    display: none;
  }

  .header__navigation {
    justify-content: flex-end;
  }
}
