@import "fonts";
// $fa_path: "../../node_modules/font-awesome/scss";
// @import "../../node_modules/font-awesome/scss/variables.scss";
// @import "../../node_modules/font-awesome/scss/mixins.scss";
// @import "../../node_modules/font-awesome/scss/path.scss";
// @import "../../node_modules/font-awesome/scss/core.scss";
// @import "../../node_modules/font-awesome/scss/icons.scss";
// @import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "vars";
@import "libs";

html {
  box-sizing: border-box;
  min-width: 320px;
}

*::selection {
  background-color: #8dd6f7;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
}

li,
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"],
[type="button"],
[type="reset"],
[type="submit"] {
  background: none;
  -webkit-appearance: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  resize: none;
  outline: none;
}

button::selection {
  background-color: transparent;
}

body {
  overflow-x: hidden;
  font-family: $rt;
  line-height: 19px;
  color: $black-text;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
//heder
.header {
  background: url("../img/header-bg.jpg") no-repeat center / cover;
  color: #fff;
  padding-bottom: 40px;
}

.header__top {
  padding-top: 34px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  max-width: 322px;
  width: 100%;
}

.header__contacts {
  padding-left: 34px;
  position: relative;
}

.header__contacts::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  width: 28px;
  background-image: url("../img/phone.png");
}

.header__contacts-text {
  font-family: $rl;
  font-size: 12px;
  margin-bottom: 4px;
}

.header__phone {
  font-family: $rm;
  font-size: 21px;
  color: #fff;
}

.header__menu {
  text-align: center;

  i {
    font-size: 25px;
  }
}

.header__menu-text {
  font-size: 12px;
  font-family: $rm;
}

.header__offer {
  text-align: center;
}

.header__offer-title {
  font: 48px / 44px $rb;
  margin-bottom: 7px;
}

.header__offer-subtitle {
  font: 36px / 44px $rb;
  margin-bottom: 36px;
}

.header__subtitle {
  font: 22px / 28px $rl;
  margin-bottom: 70px;
}
$border__offer: 1px solid rgba(#fff, .3);

.header__form {
  border: 1px solid transparent;
  border-right: $border__offer;
  border-left: $border__offer;
  margin-bottom: 50px;
  position: relative;
  max-width: 954px;
  width: 100%;
  margin: 0 auto;

  .def__btn {
    min-width: 240px;
    margin: -30px auto 0;
  }
}

.header__btn-inner {
  width: 100%;
  position: absolute;
  top: 75px;
  display: flex;
  justify-content: space-between;
}

.header__btn-line {
  width: 100%;
  border-top: $border__offer;
}

.header__btn-line--before {
  margin-right: 30px;
}

.header__btn-line--after {
  margin-left: 30px;
}

.header__form-inputs {
  display: flex;
  justify-content: space-around;
  margin: -27px auto 50px;
  max-width: 890px;
  width: 100%;

  &::before {
    content: '';
    left: 0;
    top: -1px;
    position: absolute;
    border-top: $border__offer;
    width: 2%;
  }

  &::after {
    content: '';
    right: 0;
    top: -1px;
    position: absolute;
    border-top: $border__offer;
    width: 2%;
  }

  input {
    width: 32%;
    padding: 17px 27px;
    border-radius: 50px;
    box-shadow: 1px 1px 15px 0 #00000069;
  }
}

input::placeholder {
  font: 13px / 13px $rl;
  color: #606060;
}

.def__btn {
  background: $light-blue;
  cursor: pointer;
  padding: 21px 50px;
  text-align: center;
  font: 16px / 19px $rm;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}

.def__btn:hover {
  background: #2599cf;
}

.def__btn:active {
  box-shadow: inset 3px 4px 6px 0 #00000040;
}

.def__btn::selection {
  background-color: none;
}

.header__offer-text {
  font: 14px $rl;
  margin-bottom: 75px;
  margin-top: 53px;
}
//services

.services .def__title {
  margin-bottom: 35px;
}

.services {
  padding-bottom: 73px;

  .services__item + .services__item {
    margin-top: 21px;
  }
}

.def__title {
  font: 36px / 38px $rl;
  color: $black-text-title;
  margin: 0 auto 40px;
  padding-top: 60px;
  padding-bottom: 22px;
  border-bottom: 1px solid $light-blue;
  max-width: 377px;
  width: 100%;
  text-align: center;
}

.services__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item_left {
  .services__item-img {
    order: -1;
  }

  .services__item-box {
    padding-right: 0;
    padding-left: 30px;
  }
}

.services__item-box {
  width: 50%;
  padding-right: 30px;
}

.services__item-title {
  font: 28px / 24px $rl;
  color: $light-blue;
  margin-bottom: 14px;
}

.services__item-text {
  font: 18px / 24px $rt;
  margin-bottom: 25px;
}
//price

.price {
  background: url("../img/price-bg.jpg") no-repeat center / cover;
  color: #fff;
  padding-bottom: 55px;
}

.def__subtitle {
  text-align: center;
  font: 26px / 38px $rl;
  margin: 24px auto 38px;
}

.def__title--invert {
  color: #fff;
  border-color: #fff;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
}

.price__boxes {
  max-width: 654px;
  width: 100%;

  .price__box + .price__box {
    margin-top: 8px;
  }
}

.price__box {
  border: 1px solid #fff;
  padding: 17px 21px;
  border-radius: 5px;
}

.price__box-title {
  font: 20px / 24px $rr;
  margin-bottom: 24px;
}

.price__box-runner {
  position: relative;
}

.price__box-runner::before {
  content: '';
  position: absolute;
  border-bottom: 9px solid #fff;
  top: 32px;
  right: 2px;
  opacity: 0.5;
  width: 99%;
}

.price__box-runner-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  width: 100%;
}

.price__box-btns-text {
  width: 17%;
  text-align: left;
}

.price__box-btns-text:nth-last-child(-n+2) {
  text-align: right;
}

.price__box-btns {
  display: flex;
  justify-content: space-between;

  .def__btn--small {
    width: 32%;
  }
}

.price__box-runner-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.price__box-btn {
  position: relative;
  border-radius: 50%;
  z-index: 10;
  background-color: #fff;
  height: 18px;
  width: 18px;
}

.price__box-btn.active,
.price__box-btn:hover {
  box-shadow: inset 0 0 0 7px $light-blue;
  transition: box-shadow 0.3s;
}

.def__btn--small {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 13px;
}

.def__btn--small.active {
  border: $light-blue;
  background-color: $light-blue;
}

.price__results {
  text-align: center;
  font-family: $rr;

  .def__btn {
    margin-bottom: 24px;
  }
}

.price__results-items {
  margin-bottom: 30px;
}

.price__results-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.price__results-value {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}

.price__results-phone-text {
  font: 14px $rl;
}

.price__phone {
  font: 18px $rm;
}
//Potrfolio
.portfolio {
  padding-bottom: 51px;
  text-align: center;

  .def__title {
    margin-bottom: 26px;
  }
}

.portfolio__categories-wrapper {
  display: inline-block;
  border: 1px solid $light-blue;
  border-radius: 50px;
  margin-bottom: 23px;
}

.portfolio__categories {
  display: flex;
  justify-content: center;
  padding: 3px 0;
  font: 14px / 14px $rl;
  text-transform: uppercase;
  color: $light-blue;

  a + a {
    border-left: 1px solid $light-blue;
  }
}

.portfolio__category {
  padding: 18px 40px;
}

.portfolio__category.active,
.portfolio__category:hover {
  background-color: $light-blue;
  color: #fff;
  border-radius: 10px;
  position: relative;
  transition: 0.25s;
  transform: scale(1.14, 1.14);
}

.portfolio__category:first-child:hover {
  border-radius: 50px 20px 20px 50px;
}

.portfolio__category:last-child:hover {
  border-radius: 20px 50px 50px 20px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__item {
  margin: 15px;
}

.portfolio__items-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}
//advantages
.advantages {
  background-color: $light-blue-bg;
}

.advantages__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.advantages__item {
  width: 263px;
  margin: 10px;
  text-align: center;
}

.advantages__item-text {
  position: relative;
  font: 14px / 20px $rm;
  margin-top: 40px;
  hyphens: auto;
}

.advantages__item-text::before {
  content: '';
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
  border-top: 1px solid $light-blue;
}
//process
.process {
  padding-bottom: 65px;
}

.process .def__title {
  margin-bottom: 30px;
  max-width: 490px;
}

.process__item {
  display: flex;
  width: 100%;
  align-items: center;
}

.process__item:nth-child(2n) {
  .process__item-img {
    order: 1;
  }
}

.process__item-img,
.process__item-title {
  width: 50%;
}

.process__item-title {
  font: 30px / 38px $rl;
  text-align: center;
  height: 100%;
}
//slider
.slider {
  background-color: $light-blue-bg;
  padding-bottom: 62px;
}

.slider .def__title {
  max-width: 585px;
}

.slider__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
}

.slider__item {
  width: 150px;
  height: 83px;
  text-align: center;
  cursor: grab;
  outline: none;

  img {
    outline: none;
    display: inline;
    object-fit: contain;
  }
}

.slider__item:active {
  cursor: grabbing;
}

.slider__range {
  appearance: none;
  cursor: pointer;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background-color: #e3e7e8;
}

.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 11px;
  background-image: url("../img/range.png");
}

//team
.team {
  padding-bottom: 63px;
}
.team__items {
  max-width: 1015px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.team__item {
  max-width: 230px;
  width: 100%;
  margin: 25px;
}

.team__item-name {
  font: 24px / 25px $rl;
  color: $light-blue;
  margin-top: 20px;
}

.team__item-text {
  font: 16px / 27px $rl;
  margin-top: 7px;
}

.team__quote {
  margin-top: 73px;
  text-align: center;
  font: 18px / 26px $rl;
  position: relative;
  padding: 16px 95px;
}

.team__quote::after,
.team__quote::before {
  content: '';
  position: absolute;
  background-image: url("../img/quotes.png");
  height: 37px;
  width: 47px;
}

.team__quote::before {
  top: 0;
  left: 0;
}

.team__quote::after {
  right: 0;
  bottom: 0;
  transform: scale(-1, 1);
}

.team__quote-title {
  font-size: 30px;
  margin-bottom: 13px;
}

.team__quote-text {
  margin-bottom: 13px;
}

.team__quote-subtitle {
  font-size: 16px;

  span {
    font: 18px $rm;
    margin-bottom: 10px;
  }
}

//blog

.blog {
  padding-bottom: 63px;
  background-color: $light-blue-bg;
}

.blog__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.blog__item {
  max-width: 555px;
  width: 100%;
}

.blog__item-title {
  margin-top: 33px;
  font: 18px / 24px $rl;
  color: $light-blue;
}

.blog__item-title:hover {
  text-decoration: underline;
}

//contacts

.contacts {
  background: url(../img/form-bg.jpg) no-repeat center / cover;
  padding-bottom: 68px;
  color: #fff;
}

.contacts__headline {
  text-align: center;
  font: 26px / 36px $rl;
  margin-bottom: 45px;
}

.contacts__items {
  display: flex;
}

.contacts__form {
  max-width: 750px;
  width: 100%;
  text-align: center;

  .def__btn {
    display: inline-block;
  }
}

.contacts__form-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;

  input {
    max-width: 240px;
    height: 48px;
    padding: 20px;
    border-radius: 9px;
    border: 1px solid rgba(#000, 0.11);
    width: 100%;
  }

  input::placeholder {
    font: 13px / 24px $rl;
  }
}

.contacts__form-area {
  border-radius: 9px;
  border: 1px solid rgba(#000, 0.11);
  width: 750px;
  height: 122px;
  padding: 20px;
  margin-bottom: 17px;
}

.contacts__form-area::placeholder {
  font: 13px / 24px $rl;
}

.contacts__list {
  width: 100%;
  padding-left: 30px;
}

.contacts__list-item {
  display: block;
  font: 18px / 24px $rm;
  padding-left: 41px;
  position: relative;
}

.contacts__list-item::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  height: 27px;
  width: 27px;
  font-size: 12px;
  line-height: 12px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #fff;
  left: 0;
  top: 0;
  position: absolute;
}

.contacts__list-item--phone::before {
  content: '\f879';
}

.contacts__list-item--whatsapp::before {
  content: '\f232';
}

.contacts__list-item--mail::before {
  content: '\f0e0';
}

.contacts__list-item--skype::before {
  content: '\f17e';
}

.contacts__list-item--telegram::before {
  content: '\f1d8';
}

.contacts__list a + a {
  margin-top: 18px;
}

.contacts__text {
  margin-top: 32px;
  font: 16px / 24px $rl;
}

//map

.map iframe {
  width: 100%;
  height: 600px;
  border: none;
}

//foter

.footer {
  background-color: $black-bg;
  color: #fff;
  padding: 40px 0;
  font: 14px / 24px $rl;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #50504c;
  padding-bottom: 55px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  width: 100%;
}

.footer__nav-item {
  display: inline-block;
  width: calc(100% / 3);
  margin-bottom: 8px;
  transition: color .3s;
}

.footer__nav-item:hover {
  color: rgba(#ffffff, 0.37);
}

.footer__contacts-text {
  margin-bottom: 9px;
}

.footer__contacts-icons {
  i {
    width: 31px;
    height: 31px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }

  a + a {
    margin-left: 7px;
  }

  a {
    transition: background-color .3s;
  }

  a:hover {
    background-color: rgba(#ffffff, 0.37);
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
}

@import "media";
